{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Deserunt blanditiis et fugiat dicta fuga animi obcaecati voluptatibus quibusdam quaerat. Ratione ullam eos deleniti id consectetur at officiis nobis, aliquid tempora doloribus quibusdam dolore sequi exercitationem! Et, officiis perspiciatis eveniet cupiditate ad voluptatem maxime quisquam voluptates, quas delectus asperiores omnis ipsam iure distinctio porro dignissimos est hic. Dolorum, eaque nihil ipsam ab amet consequuntur architecto quas quod quis recusandae laborum culpa! Nihil similique laborum eum, laudantium doloremque tenetur at eius, numquam dignissimos soluta fuga asperiores, magni incidunt cupiditate distinctio aliquam nostrum officiis suscipit alias tempore eos praesentium in velit. Possimus, praesentium.</p>
    </section>
    
    <div class="text-center mt-5">
        <a class="btn btn-secondary" href="/signin/">
            Sigin
        </a>
        <a class="btn btn-dark" href="/signup/">
            Sigup
        </a>
    </div>
</main>
{% endblock %}
